<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <div class="front-text-panel">
        <h1 class="title-text">Welcome to the Sample App</h1>
        <h2>This is the home page for the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.</h2>
      </div>
    </div>  
    <div class="col-md-3">
      <div class="front-login-panel">
        <%= render 'sessions/new' %>
      </div>  
    </div>
  </div>
</div>
<% end %>
