<%= form_for(:session, url: sessions_path, :html => { :class => "front-login"}) do |f| %>

  <%= f.text_field :email, placeholder: 'email or username' %>

  <%= f.password_field :password, placeholder: 'password' %>

  <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span>Remember me | <%= link_to "Forgot password", new_password_reset_path %></span>
  <% end %>

  <%= f.submit "Log in", id: "login-button", class: "btn btn-primary" %>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>