<% provide(:title, 'All users') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="home-main">
      <h1>All users</h1>
      
      <%= will_paginate %>
      
      <ul class="users">
        <%= render @users %>
      </ul>
      
      <%= will_paginate %>
    </div>
  </div>
</div>