<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <div class="micropost-actions">
    <div class="pull-right">
      <span id="micropost_char_count">140</span>
      <span class="btn-group">
        <%= f.submit "Post", class: "btn btn-primary", id: "micropost_submit" %>
      </span>  
    </div>
    <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-primary btn-file">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
          <span class="glyphicon glyphicon-upload"></span>
        </span>
      </span>
      <input type="text" class="form-control" readonly>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });

  $("#micropost_submit").attr('disabled', 'disabled');

  $("#micropost_content").keyup(function() {
    var chars = $("#micropost_content").val().length;
    var left = 140 - chars;
    if(left >= 0) {
      $("#micropost_char_count").text(left);
      $("#micropost_char_count").css('color', '#428bca');
    } else {
      left = left * (-1)
      $("#micropost_char_count").text(left);
      $("#micropost_char_count").css('color', 'red');
    }
    if(chars > 0 && chars <= 140) {
      $("#micropost_submit").attr("disabled", false);
    } else {
      $("#micropost_submit").attr("disabled", true);
    }
  });
</script>
