<% @user ||= current_user %>
<div class="stats">
  <a href="<%= current_user %>">
    <strong id="micropost_count" class="stat">
      <%= @user.microposts.count %>
    </strong>
    microposts
  </a>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>